canvas {
  max-width: 300px;
  min-width: 300px;
}

img {
  /*width: 30%;*/
  height: auto;
}

.notification {
  color: black;
  text-align: center;
}

.create-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.react-crop {
  width: 100%;
  height: auto;
}

.crop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-link-tablist {
  justify-content: center;
}

.box {
  max-width: 600px;
}

#submit-link {
  text-align: center;
}

.large-column {
  background: #eceff1 !important;
}
