#navbar {
  background: hsl(217, 71%, 53%);
}

.navbar-brand {
  /*background: red;*/
  justify-content: space-between;
}

#dev {
  font-size: 40px;
  color: white;
  /*margin-right: 100px;*/
}

#user-circle {
  font-size: 30px;
  color: white;
}

#search {
  color: white;
}
#nav-user {
  /*display: flex;*/
  align-items: center;
  /*background: red;*/
}

.navbar-link {
  color: white;
}

#nav-dropdown {
  color: white;
  font-weight: 600;
}

#nav-user:hover #nav-dropdown {
  background: transparent;
}

#nav-dropdown::after {
  border-color: white;
  transition: 0.2s ease-in-out;
  transform-origin: 30%;
}

.navbar-dropdown {
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  display: none;
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}

#nav-user:hover .navbar-dropdown{
  display: block;
}

#nav-user:hover #nav-dropdown::after {
  /*border-color: red;*/
  transform: rotate(135deg);
}

.drop-icon {
  margin-right: 10px;
}

.dropdown-options:hover {
  color: hsl(217, 71%, 53%);
  cursor: pointer;
  background: hsl(0, 0%, 96%) !important;
}
