#navbar {
  background: hsl(204, 86%, 53%);
}

.navbar-brand {
  /*background: red;*/
  justify-content: space-between;
}

#dev {
  font-size: 40px;
  color: white;
  /*margin-right: 100px;*/
}

#user-circle {
  font-size: 30px;
  color: white;
}

#search {
  color: white;
}
#nav-user {
  /*display: flex;*/
  align-items: center;
  /*background: red;*/
}

.navbar-link {
  color: white;
}

#nav-dropdown {
  color: white;
  font-weight: 600;
}

#nav-user:hover #nav-dropdown {
  background: transparent;
}

#nav-dropdown::after {
  border-color: white;
  transition: 0.2s ease-in-out;
  transform-origin: 30%;
}

#nav-user:hover #nav-dropdown::after {
  /*border-color: red;*/
  transform: rotate(135deg);
}

.drop-icon {
  margin-right: 10px;
}
