.card {
  width: 500px;
  margin-top: 3%;
}

.post {
  background: #eceff1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  height: 100vh;
  overflow-x: hidden;
}

.comment-control {
  display: flex;
}

.comment-content {
  color: hsl(0, 0%, 48%) !important;
  font-weight: 400 !important;
}

.username-link {
  color: #363636 !important;
}

.dashboard {
  color: #363636;
  font-size: 30px;
}

.dashboard-icons {
  /*background: red;*/
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
}

.dashboard-icons svg:hover {
  color: hsl(217, 71%, 53%);
}

.searchbar {
  margin-bottom: 0 !important;
  display: flex !important;
}

.search-input {
  width: 100% !important;
}

#search-box {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0.25rem;
}

.mobile-dashboard {
  position: fixed !important;
  width: 103%;
  top: 94vh !important;
  background: hsl(0, 0%, 96%) !important;
  border-top: 2px solid hsl(0, 0%, 86%);
}

.mobile-dashboard-icons {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  /*color: white;*/
}

